# <b>Estudando Machine Learning (Bagging)<b/>

## Recebendo os dados

In [18]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("heart.csv")
df.shape

(918, 12)

In [7]:
df.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0

In [8]:
df.describe()

,Age,RestingBP,Cholesterol,FastingBS,MaxHR,Oldpeak,HeartDisease
count,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000
mean,53.510893,132.396514,198.799564,0.233115,136.809368,0.887364,0.553377
std,9.432617,18.514154,109.384145,0.423046,25.460334,1.066570,0.497414
min,28.000000,0.000000,0.000000,0.000000,60.000000,-2.600000,0.000000
25%,47.000000,120.000000,173.250000,0.000000,120.000000,0.000000,0.000000
50%,54.000000,130.000000,223.000000,0.000000,138.000000,0.600000,1.000000
75%,60.000000,140.000000,267.000000,0.000000,156.000000,1.500000,1.000000
max,77.000000,200.000000,603.000000,1.000000,202.000000,6.200000,1.000000

## Tratando outliers

In [9]:
df[df.RestingBP>(df.RestingBP.mean()+3*df.RestingBP.std())]

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
109,39,M,ATA,190,241,0,Normal,106,N,0.0,Up,0
241,54,M,ASY,200,198,0,Normal,142,Y,2.0,Flat,1
365,64,F,ASY,200,0,0,Normal,140,Y,1.0,Flat,1
399,61,M,NAP,200,0,1,ST,70,N,0.0,Flat,1
592,61,M,ASY,190,287,1,LVH,150,Y,2.0,Down,1
732,56,F,ASY,200,288,1,LVH,133,Y,4.0,Down,1
759,54,M,ATA,192,283,0,LVH,195,N,0.0,Up,1

In [4]:
df1 = df[df.RestingBP<=(df.RestingBP.mean()+3*df.RestingBP.std())]
df1.shape

(911, 12)

7 pontos de dados removidos do dataframe

In [15]:
df1[df1.Cholesterol>(df1.Cholesterol.mean()+3*df1.Cholesterol.std())]

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
76,32,M,ASY,118,529,0,Normal,130,N,0.0,Flat,1
149,54,M,ASY,130,603,1,Normal,125,Y,1.0,Flat,1
616,67,F,NAP,115,564,0,LVH,160,N,1.6,Flat,0

In [5]:
df2 = df1[df1.Cholesterol<=(df1.Cholesterol.mean()+3*df1.Cholesterol.std())]
df2.shape

(908, 12)

3 pontos de dados removidos

In [17]:
df2[df2.FastingBS>(df2.FastingBS.mean()+3*df2.FastingBS.std())]

Empty DataFrame
Columns: [Age, Sex, ChestPainType, RestingBP, Cholesterol, FastingBS, RestingECG, MaxHR, ExerciseAngina, Oldpeak, ST_Slope, HeartDisease]
Index: []

In [18]:
df2[df2.MaxHR>(df2.MaxHR.mean()+3*df2.MaxHR.std())]

Empty DataFrame
Columns: [Age, Sex, ChestPainType, RestingBP, Cholesterol, FastingBS, RestingECG, MaxHR, ExerciseAngina, Oldpeak, ST_Slope, HeartDisease]
Index: []

In [19]:
df2[df2.Oldpeak>(df2.Oldpeak.mean()+3*df2.Oldpeak.std())]

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
166,50,M,ASY,140,231,0,ST,140,Y,5.0,Flat,1
702,59,M,TA,178,270,0,LVH,145,N,4.2,Down,0
771,55,M,ASY,140,217,0,Normal,111,Y,5.6,Down,1
791,51,M,ASY,140,298,0,Normal,122,Y,4.2,Flat,1
850,62,F,ASY,160,164,0,LVH,145,N,6.2,Down,1
900,58,M,ASY,114,318,0,ST,140,N,4.4,Down,1

In [6]:
df3 = df2[df2.Oldpeak<=(df2.Oldpeak.mean()+3*df2.Oldpeak.std())]
df3.shape

(902, 12)

6 pontos de dados removidos

In [22]:
df3[df3.HeartDisease>(df3.HeartDisease.mean()+3*df3.HeartDisease.std())]

Empty DataFrame
Columns: [Age, Sex, ChestPainType, RestingBP, Cholesterol, FastingBS, RestingECG, MaxHR, ExerciseAngina, Oldpeak, ST_Slope, HeartDisease]
Index: []

## Tratando valores de tipo texto

In [23]:
df.Sex.unique()

array(['M', 'F'], dtype=object)

In [24]:
df.ChestPainType.unique()

array(['ATA', 'NAP', 'ASY', 'TA'], dtype=object)

In [25]:
df.RestingECG.unique()

array(['Normal', 'ST', 'LVH'], dtype=object)

In [26]:
df.ExerciseAngina.unique()

array(['N', 'Y'], dtype=object)

In [27]:
df.ST_Slope.unique()

array(['Up', 'Flat', 'Down'], dtype=object)

<b>trocando valores literais por numéricos<b/>

In [7]:
df4 = df3.copy()
df4.Sex.replace(
    {
        'M':0,
        'F':1
    }
    ,inplace=True)
df4.ChestPainType.replace(
    {
        'ATA': 0,
        'NAP': 1,
        'ASY': 2,
        'TA': 3
    }
    , inplace=True)
df4.RestingECG.replace(
    {
        'Normal': 0,
        'ST': 1,
        'LVH': 2
    }
    , inplace=True)
df4.ExerciseAngina.replace(
    {
        'N': 0,
        'Y': 1
    }
    , inplace=True)
df4.ST_Slope.replace(
    {
        'Up': 0,
        'Flat': 1,
        "Down": 2
    }
    , inplace=True)

df4.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,0,0,140,289,0,0,172,0,0.0,0,0
1,49,1,1,160,180,0,0,156,0,1.0,1,1
2,37,0,0,130,283,0,1,98,0,0.0,0,0
3,48,1,2,138,214,0,0,108,1,1.5,1,1
4,54,0,1,150,195,0,0,122,0,0.0,0,0

In [15]:
x = df4.drop("HeartDisease", axis='columns')
y = df4.HeartDisease
x.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope
0,40,0,0,140,289,0,0,172,0,0.0,0
1,49,1,1,160,180,0,0,156,0,1.0,1
2,37,0,0,130,283,0,1,98,0,0.0,0
3,48,1,2,138,214,0,0,108,1,1.5,1
4,54,0,1,150,195,0,0,122,0,0.0,0

## Preparando dados para serem treinados e testados

In [9]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
x_scaled = scaler.fit_transform(x)
x_scaled

array([[-1.42896269, -0.51485643, -1.6990351 , ..., -0.82065181,
        -0.84676261, -1.0456339 ],
       [-0.47545956,  1.94228905, -0.52558207, ..., -0.82065181,
         0.14079864,  0.62072967],
       [-1.74679706, -0.51485643, -1.6990351 , ..., -0.82065181,
        -0.84676261, -1.0456339 ],
       ...,
       [ 0.37209878, -0.51485643,  0.64787097, ...,  1.21854359,
         0.33831089,  0.62072967],
       [ 0.37209878,  1.94228905, -1.6990351 , ..., -0.82065181,
        -0.84676261,  0.62072967],
       [-1.64085227, -0.51485643, -0.52558207, ..., -0.82065181,
        -0.84676261, -1.0456339 ]])

In [12]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x_scaled, y, test_size=0.3, random_state=40)

In [13]:
x_train.shape

(631, 11)

In [14]:
x_test.shape

(271, 11)

## Treinando um modelo usando svm e bagging

In [21]:
from sklearn.svm import SVC
from sklearn.model_selection import cross_val_score

scores = cross_val_score(SVC(), x, y, cv=5)
scores.mean()

0.6906445672191528

In [23]:
from sklearn.ensemble import BaggingClassifier

bag_model = BaggingClassifier(base_estimator=SVC(), n_estimators=100, max_samples=0.8, random_state=0)
scores = cross_val_score(bag_model, x, y, cv=5)
scores.mean()

0.6850767341927564

## Treinando um modelo usando árvore de decisão e bagging

In [24]:
from sklearn.tree import DecisionTreeClassifier

scores = cross_val_score(DecisionTreeClassifier(random_state=0), x, y, cv=5)
scores.mean()

0.7449600982197667

In [25]:
bag_model = BaggingClassifier(
    base_estimator=DecisionTreeClassifier(random_state=0), 
    n_estimators=100, 
    max_samples=0.8, 
    oob_score=True,
    random_state=0
)

scores = cross_val_score(bag_model, x, y, cv=5)
scores.mean()

0.8047943523634131