# Aplicaçãp prática do modelo de rotulação de Lopes(2014)

In [1]:
import pandas as pd
import numpy as np

## Seleção de parâmetros

In [5]:
variacao = 8.5
faixa_valores = 3
per_trein = 25
folds = 10

In [3]:
grupo = "sementes.csv"

In [3]:
grupo = "iris.csv"

In [2]:
grupo = "vidros.csv"

In [72]:
grupo = "wine.csv"

In [74]:
grupo = "mnist64.csv"

In [3]:
tipo_discretizacao = 'EWD'

In [76]:
tipo_discretizacao = 'EFD'

In [4]:
alg_super = 'PMC'

In [78]:
alg_super = 'TREE'

In [6]:
print(f'Parametros: bd={grupo}, disc={tipo_discretizacao}, algoritmo={alg_super}')
print(f'variacao={variacao}, faixa={faixa_valores}, % de treino={per_trein}, treinos e testes={folds}')

Parametros: bd=vidros.csv, disc=EWD, algoritmo=PMC
variacao=8.5, faixa=3, % de treino=25, treinos e testes=10

## Tratando os dados

In [7]:
base = pd.read_csv(grupo)

In [18]:
base.head()

        RI     Na    Mg    Al     Si     K    Ca   Ba   Fe  classe
0  152.101  13.64  4.49  1.10  71.78  0.06  8.75  0.0  0.0       1
1  151.761  13.89  3.60  1.36  72.73  0.48  7.83  0.0  0.0       1
2  151.618  13.53  3.55  1.54  72.99  0.39  7.78  0.0  0.0       1
3  151.766  13.21  3.69  1.29  72.61  0.57  8.22  0.0  0.0       1
4  151.742  13.27  3.62  1.24  73.08  0.55  8.07  0.0  0.0       1

In [12]:
attr_classe = base.columns[-1]
print(f'atributo escolhido: {attr_classe}')

frames = []
for index, grupo in base.groupby(attr_classe):
    frames.append(grupo)
print(f'numero de clusters: {len(frames)}')

atributo escolhido: classe
numero de clusters: 6

In [17]:
frames[0].shape

(70, 10)

In [35]:
frames[0].head()

        RI     Na    Mg    Al     Si     K    Ca   Ba   Fe  classe
0  152.101  13.64  4.49  1.10  71.78  0.06  8.75  0.0  0.0       1
1  151.761  13.89  3.60  1.36  72.73  0.48  7.83  0.0  0.0       1
2  151.618  13.53  3.55  1.54  72.99  0.39  7.78  0.0  0.0       1
3  151.766  13.21  3.69  1.29  72.61  0.57  8.22  0.0  0.0       1
4  151.742  13.27  3.62  1.24  73.08  0.55  8.07  0.0  0.0       1

### Discretização

In [29]:
import discretizacao as dsc

discData = dsc.discretizador(base, faixa_valores, tipo_discretizacao, attr_classe)
base_discretizada = discData.ddb
infor = discData.infor

In [30]:
print(base_discretizada[:10])

   RI  Na  Mg  Al  Si  K  Ca  Ba  Fe  classe
0   1   1   2   0   1  0   0   0   0       1
1   0   1   2   1   1  0   0   0   0       1
2   0   1   2   1   1  0   0   0   0       1
3   0   1   2   0   1  0   0   0   0       1
4   0   1   2   0   1  0   0   0   0       1
5   0   0   2   1   1  0   0   0   1       1
6   0   1   2   0   1  0   0   0   0       1
7   0   1   2   0   1  0   0   0   0       1
8   1   1   2   1   1  0   0   0   0       1
9   0   1   2   1   1  0   0   0   0       1

In [31]:
for info in infor:
    print(info)

('RI', array([151.11272749, 151.87433879, 152.63367208, 153.39300537]))
('Na', array([10.72334954, 12.94666608, 15.16333262, 17.37999916]))
('Mg', array([-0.00449   ,  1.49666659,  2.99333318,  4.48999977]))
('Al', array([0.28678999, 1.35999999, 2.43      , 3.5       ]))
('Si', array([69.80439755, 71.67666626, 73.54333496, 75.41000366]))
('K', array([-0.00621   ,  2.07000001,  4.14000003,  6.21000004]))
('Ca', array([ 5.41923983,  9.01666673, 12.60333363, 16.19000053]))
('Ba', array([-0.00315   ,  1.05000003,  2.10000006,  3.1500001 ]))
('Fe', array([-0.00051   ,  0.17      ,  0.33999999,  0.50999999]))

In [32]:
frames_disc = []
for index, grupo in base_discretizada.groupby(attr_classe):
    frames_disc.append(grupo)
print(f'numero de clusters: {len(frames_disc)}')

numero de clusters: 6

In [34]:
frames_disc[0].head()

   RI  Na  Mg  Al  Si  K  Ca  Ba  Fe  classe
0   1   1   2   0   1  0   0   0   0       1
1   0   1   2   1   1  0   0   0   0       1
2   0   1   2   1   1  0   0   0   0       1
3   0   1   2   0   1  0   0   0   0       1
4   0   1   2   0   1  0   0   0   0       1